<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial scale=1.0">
	<title>Service Ordering 5</title>
	<!--Link to CSS -->
	<link rel="stylesheet" href="css/so5.css">
	<!-- Box icons-->
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/boxicons@latest/css/boxicons.min.css">
</head>
<body>
	<!--Navbar-->
	<header>
		<div class="nav container">
			<!--Logo-->
			<a href ="" class= "logo"><i class='bx bxs-home'></i>Rentfy</a>
			<label for= "menu"><i class='bx bx-menu' id="menu-icon"></i></label>
			<!--list -->
			<ul class="navbar">
				<li><a  href = "#home">Home</a></li>
				<li><a  href = "#about">About us</a></li>
				<li><a  href = "#sales">Services</a></li>
				<li><a  href = "#properties">Properties</a></li>
			</ul>
			<!-- Log in Button -->
			<a href= "a" class="btn">Log in</a>
		</div>
	</header>
	<!--Main-->
	<section class="main container" id="main">
		<div class="searchbar">
			<br><h2>Have a rental property in mind?<br>Search here</h2>
				<form action="" method="get">
				  <label for="email">Enter your email:</label>
				  <input type="date" id="fill" name="email">
				</form>
				<br>
				<form action="" method="get">
				  <label for="emails">Enter email addresses:</label>
				  <input type="time" id="fill" name="emails" multiple>
				</form>
				<form>
				<input type="submit" value="Submit Quatation" class="btn">
				</form>
		</div>
	</section>
	<!--Footer-->
	<section class="footer">
		<div class="footer-container container">
			<h2>R.state</h2>
			<div class="footer-box">
				<h3>Locations</h3>
				<a href="#">UNIMY</a>
				<a href="#">CyberJaya</a>
				<a href="#">Malaysia</a>
		</div>
		<div class="footer-box">
				<h3>Contact</h3>
				<a href="#">0123456789</a>
				<a href="#">yourmail@gmail.com</a>
				<div class="social">
					<a href="#"><i class='bx bxl-facebook'></i></a>
					<a href="#"><i class='bx bxl-twitter'></i></a>
					<a href="#"><i class='bx bxl-instagram'></i></a>
				</div>
		</div>
	</section>
	<!--Copyright-->
	<div class="copyright">
		<p>&#169; Team X,All rights Reserved</p>
	</div>
</body>
</html>