<!Doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
	<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
	<!-- Box icons-->
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/boxicons@latest/css/boxicons.min.css">
    <title>Property Management(Landlord)</title>
	<!--CSS File Link-->
    <link href="management.css" rel="stylesheet">
  </head>
  <body>
    <!--Navbar-->
	<header>
		<div class="nav container">
			<!--Logo-->
			<a href ="" class= "logo"><i class='bx bxs-home'></i>Rentfy</a>
			<!--list -->
			<ul class="navbar">
				<li><a  href = "#home">Home</a></li>
				<li><a  href = "#about">About us</a></li>
				<li><a  href = "#sales">Sales</a></li>
				<li><a  href = "#properties">Properties</a></li>
			</ul>
			<!-- Log in Button -->
			<a href= "#" class="btn">Log In</a>
		</div>
		</header>
		<!--Table-->
		<section class="management container" id="management">
		<div class="heading">
			<br><br>
			<h2>Property Managent(Landlord)</h2>
			<p>This page is for the landlord to manage all of his property</p>
			<a href= "#" class="btn">Add new</a><br>
		</div>
		<div class="management-container container">
			<table class="table">
				  <thead>
					<tr>
					  <th scope="col">#</th>
					  <th scope="col">Property Name</th>
					  <th scope="col">Price(RM)</th>
					  <th scope="col">Status</th>
					  <th scope="col">Operations</th>
					</tr>
				  </thead>
				  <tbody>
					<tr>
					  <th scope="row">1</th>
					  <td>Terrace</td>
					  <td>1000</td>
					  <td>Available</td>
					  <td>
						<a class="edit" title="Edit" data-toggle="tooltip"><i class="material-icons">&#xE254;</i></a>
						<a class="delete" title="Delete" data-toggle="tooltip"><i class="material-icons">&#xE872;</i></a>
					   </td>
					</tr>
					<tr>
					  <th scope="row">2</th>
					  <td>Palace</td>
					  <td>800</td>
					  <td>Rented</td>
					  <td>
						<a class="edit" title="Edit" data-toggle="tooltip"><i class="material-icons">&#xE254;</i></a>
						<a class="delete" title="Delete" data-toggle="tooltip"><i class="material-icons">&#xE872;</i></a>
					   </td>
					</tr>
					<tr>
					  <th scope="row">3</th>
					  <td>Flat</td>
					  <td>750</td>
					  <td>Available</td>
					  <td>
						<a class="edit" title="Edit" data-toggle="tooltip"><i class="material-icons">&#xE254;</i></a>
						<a class="delete" title="Delete" data-toggle="tooltip"><i class="material-icons">&#xE872;</i></a>
					   </td>
					</tr>
				  </tbody>
				</table>
			</div>
			</section>
		<!--Footer-->
	<section class="footer">
		<div class="footer-container container">
			<h2>R.state</h2>
			<div class="footer-box">
				<h3>Locations</h3>
				<a href="#">UNIMY</a>
				<a href="#">CyberJaya</a>
				<a href="#">Malaysia</a>
		</div>
		<div class="footer-box">
				<h3>Contact</h3>
				<a href="#">0123456789</a>
				<a href="#">yourmail@gmail.com</a>
				<div class="social">
					<a href="#"><i class='bx bxl-facebook'></i></a>
					<a href="#"><i class='bx bxl-twitter'></i></a>
					<a href="#"><i class='bx bxl-instagram'></i></a>
				</div>
		</div>
	</section>
	<!--Copyright-->
	<div class="copyright">
		<p>&#169; Team X,All rights Reserved</p>
	</div>
	</header>
  </body>
</html>